<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URLShortener</title>
</head>
<body>
<h1>URLShortener</h1>
<form id="urlForm">
        <p>
            URL
        </p>
        <p>
            <input type="text" id="url" aria-label="url" />
        </p>
        <p>
            segment of shortened URL
        </p>
        <p>
            <input type="text" id="segment" aria-label="segment"/>
        </p>
        <p>
            <button type="button" id="shortenUrlBtn">shorten Url</button>
        </p>
</form>
</body>
</html>