<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URLShortener</title>
</head>
<body>
<h1>URLShortener</h1>
<div th:if="${param.shortUrl}"
    th:text="|the shortened Url is: ${param.shortUrl}|"></td>
</div>
<div th:if="${param.alreadyTaken}">
    The url is already taken
</div>
<div th:if="${param.invalidUrl}">
    The url is invalid
</div>
<form action="/addUrl" method="post">
        <p>
            URL
        </p>
        <p>
            <input type="text" name="url">
        </p>
        <p>
            Segment of shortened URL
        </p>
        <p>
            <input type="text" name="segment">
        </p>
        <p>
            <input type="submit" value="shorten Url">
        </p>
</form>
</body>
</html>